VITE_API_BASE_URL=http://127.0.0.1:8000
VITE_API_BASE_URL=https://opportunity-hub-backend-671027881289.asia-southeast1.run.app
VITE_GOOGLE_CLIENT_ID=96040623749-k7anq4qllb2tki0d8li52gv477fk876i.apps.googleusercontent.com