@import "tailwindcss";
@theme{
    --color-primary: #0a65cc;
       --color-primaryDark:#1d4ed8;
       --color-subPrimary:#d2e2fb;
       --text-medium :1rem;
       --text-small :0.8rem;
       --text-big : 1.5rem;
}
@layer base {
   
  
    body{     
        @apply text-gray-900 ;
        /*put the font later*/
    }
   
}
@layer components {
     .page-container {
        @apply  px-4 md:px-6 lg:px-8 py-5;
    }
     .custom-list-layout {
        @apply grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 justify-between  gap-5;
     }
     .btn-primary-blue {
    @apply bg-primary text-white px-4 py-2 rounded shadow-sm hover:bg-primaryDark hover:text-white active:scale-95 transition-all;
  }
    .btn-primary-white {
    @apply bg-subPrimary text-primary px-4 py-2 rounded shadow-sm hover:bg-primaryDark hover:text-white active:scale-95 transition-all;
  }
  .custom-card {
    @apply rounded   border justify-center items-center p-1.5
  }
}
